footer {
  background-color: #1c1c1c;
  color: white;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  align-items: flex-start;
  margin-top: 15px;
}

#site-map {
  display: flex;
  margin-left: 55px;
}

.footer-section {
  min-width: 150px;
}

.footer-section h4 {
  margin-bottom: 7px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-brand {
  display: flex;
  align-items: center;
}

.footer-brand img {
  width: 70px;
  height: auto;
  margin-left: 65px;
}

#contact {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

#contact a {
  display: inline-block;
}

#contact img {
  width: 30px;
  height: 30px;
}

#copy {
  margin-top: 30px;
  text-align: left;
  margin-left: 360px;
  width: 100%;
  
}
