footer {
  background-color: #1c1c1c;
  color: white;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 15px;
}

#site-map {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.footer-section {
  min-width: 150px;
  margin-right: 0px;
}

.footer-section h4 {
  margin-bottom: 7px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: rgb(231, 231, 231);
  text-decoration: none;
}

.footer-brand {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-brand img {
  width: 180px;
  height: auto;
}

#contact {
  display: flex;
  gap: 15px;
  margin-left: 0;
}

#contact a {
  display: inline-block;
}

#contact img {
  width: 30px;
  height: 30px;
}

#contact-brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
}

#copy {
  width: 100%;
  text-align: left;
  margin-top: 30px;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 350px;
}

.footer-section ul li a:hover {
  color: white;
  transition: color 0.3s;
}

#contact img:hover {
  transform: scale(1.05);
}

.footer-brand img:hover {
  transform: scale(1.05);
}
