#sobre-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    padding: 20px;
    margin: 50px auto;
    max-width: 960px;
    margin-bottom: 20px;
  }
  
  #sobre-preview img {
    width: 250px;
    height: 250px;
    border-radius: 35px;
    margin-right: 50px;
    margin-bottom: 35px;
  }
  
  #info {
    flex: 1;
    margin-bottom: 50px;
  }
  
  #info h3 {
    font-size: 1.5em;
    color: #C2272D;
    margin-bottom: 10px;
  }
  
  #info p {
    font-size: 19px;
    font-weight: 500;
    color: #C2272D;
  }
  
  #sobre-preview button {
    background-color: #e63946;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    margin-top: 20px;
  }
  
  #sobre-preview button:hover {
    background-color: #d62828;
  }